 body{ 
			      background-image: url("website-images/web-background.jpg");
   				 background-repeat: no-repeat;
			    	 background-size: cover;			  
			     	border-style: ridge;
			     	border-color: #770404;
}
