 body{ 
			     
			    	padding: 25px;	  
			     	border-style: ridge;
			     	border-color: #000000;
}
.text p  {
	text-align:left;
       font-size: 135%;
}
.text ul {
	text-align:left;
       font-size: 135%;
}
