
		     body{ 
			      background-image: url("website-images/web-background.jpg");
   				 background-repeat: no-repeat;
			    	 background-size: cover;			  
			     	border-style: ridge;
			     	border-color: #770404;
			   
		   	
		    }
                     .navigation{
	                              height:50px;
	                              background:lightgreen;
			     	     
                                }
                    .navigation ul {
                                 list-style-type: none;
                                 margin: 0;
                                 padding: 0;
                                  overflow: hidden;
                                  background-color: #676767;
;
                                    }
                     .navigation li {
                                  float: left;
                                    }
		    .navigation li a {
				    display: block;
				    color: white;
				    text-align: center;
				    padding: 16px 16px;
				    text-decoration: none;
				     }
		    
.name {
		   text-align: center;
		   font-family: 'Amita';
	           font-size: 40px;
	           color: #18252b;
		   
	
             }

.education ul{
		    color:#722222;
		    font-size: 150%;
		    font-style: italic;
		    
	     }
.education h1{
	
	font-family: 'Vast Shadow';
	font-size: 40px;
}

.wordke h1 {
	font-family: 'Vast Shadow';
	font-size: 40px;;
}
.wordke ul {
		    
		    color:#722222;
		    font-size: 150%;
		    line-height: 1.8;
		    }
/*  --------------------------------end of body+ index page style-----------------------------------------------*/

.Courses h1 {
            text-align: center;
	    font-family: 'Belgrano';
	    font-size: 40px;
}

            }
.Courses h2{
           font-family: 'Belgrano';
	   font-size: 30px;
}
           }
.Courses  ol{
            line-height: 1.8;
	    font-size: 20px;
           }
/*  --------------------------------end of current cuorses page style-----------------------------------------------*/
.digital h1 {
            text-align: center;
	    font-family: 'Inknut Antiqua';
	    font-size: 40px;
}

            }
.digital h2{
           font-family: 'Inknut Antiqua';
	   font-size: 30px;
}
.digital p1  {
	      font-weight: bold;
	      color:#722222;
	      font-size: 18px;
	   }
.digital p2  {
		font-size: 18px;
	        color:#722222;
		}
.digital ol  {
		font-size: 18px;
		color:#722222;
	   }
/*  --------------------------------end of digital style-----------------------------------------------*/
	
.distance h1 {
            text-align: center;
	    font-family: "Times New Roman", Times, serif;
	    font-size: 40px;
		}
.distance h2{
           font-family: "Times New Roman", Times, serif;
	   font-size: 30px;
	   }
	
.distance p1 {
	      font-weight: bold;
	      color:#722222;
	      font-size: 18px;
	   }
.distance p2 {
		font-size: 18px;
	        color:#722222;
            }
